.customButton {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.customButton:hover {
  background-color: #0056b3;
}
