.topLeft {
  height: 15%;
  background-color: #d3d3d3;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
}

.topLeft p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}
